---
Checks:          '-checks=-*,bugprone-*,clang-analyzer-*,cppcoreguidelines-*,readability-*,
                  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                  -readability-braces-around-statements,
                  -readability-function-cognitive-complexity
                 '
                  
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
...
